.container {
  align-items: baseline;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 4px 8px;
  transition: 0.3s;

  &:hover {
    background-color: #b3d2ff;
  }
}