.button {
  appearance: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  line-height: 32px;
  margin: 8px;
  padding: 0 15px;
  transition: all 0.3s;
  user-select: none;
}
/** типы кнопок */
.primary {
  background-color: #1677ff;
  color: #fff;
  &:hover {
    background-color: #4096ff;  
  }
  &:active {
    box-shadow: 0px 0px 4px 2px rgb(22 119 255 / 44%);
    transition: 0.1s;
  }
}
.default {
  background-color: transparent;
  border: 1px solid #d9d9d9;
  color: black;
  &:hover {
    border-color: #4096ff;
    color: #4096ff;
  }
  &:active {
    box-shadow: 0px 0px 4px 2px rgb(22 119 255 / 44%);
    transition: 0.1s;
  }
}
.dashed {
  background-color: transparent;
  border: 1px dashed #d9d9d9;
  color: black;
  &:hover {
    border-color: #4096ff;
    color: #4096ff;
  }
  &:active {
    box-shadow: 0px 0px 4px 2px rgb(22 119 255 / 44%);
    transition: 0.1s;
  }	
}
.text {
  background-color: #fff;
  color: black;
  &:hover {
    background-color: #f0f0f0;
  }
  &:active {
    background-color: rgb(217 217 217);
  }
}
.link {
  background-color: #fff;
  color: #1677ff;
  &:hover {
    color: #69b1ff;
  }
  &:active {
    color: #0958d9;
  }
}
.ghost {
  background-color: transparent;
  border: 1px solid #d9d9d9;
  color: black;
  &:hover {
    background-color: #1677ff;
    color: #fff;
  }
  &:active {
    box-shadow: 0px 0px 4px 2px rgb(22 119 255 / 44%);
    transition: 0.1s;
  }
}
.disabled {
  background-color: rgba(0,0,0,.04);
  border-color: #d9d9d9;
  color: rgba(0,0,0,.25);
  cursor: not-allowed;
  &:hover {
    background-color: rgba(0,0,0,.04);
    border-color: #d9d9d9;
    color: rgba(0,0,0,.25);
  }
  &:active {
    box-shadow: none;
  }
}
/** размеры кнопок */
.large {
  border-radius: 8px;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
}
.small {
  border-radius: 4px;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding: 0 7px;
}