@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../static/fonts/Roboto-Light-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../static/fonts/Roboto-Regular-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../static/fonts/Roboto-Bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../static/fonts/material-Icon-webfont.woff2") format("woff2");
}
