.wrapper {
  padding-top: 16px;
}

.label {
  color: var(--color-text);
  display: block;
  margin: 0 0 12px 32px;
  text-transform: uppercase;
}

.list {
  margin-top: 4px;
}

.dividerWrapper {
  margin-bottom: 16px;
  padding: 0 16px;
}
